{% extends 'APP_Settings/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static  'APP_Settings/css/style.css' %}">
{% endblock %}

{% block content %}
    <div class="open_page">
        <p>Сторінка контактів</p>

    </div>  

    <div id="danil_contacts">
        <p>Посилання на GitHub Данила:</p>
        <a class="github_accounts" href="https://github.com/danil-michnenko">Аккаунт<a>
    </div>

    <div id="ludmila_contacts">
        <p>Посилання на GitHub Людмили:</p>
        <a class="github_accounts" href="https://github.com/Ludmilkam">Аккаунт<a>
    </div>

    <div id="sema_contacts">
        <p>Посилання на GitHub Семена:</p>
        <a class="github_accounts" href="https://github.com/arman455">Аккаунт<a>
    </div>

    <div id="feliks_contacts">
        <p>Посилання на GitHub Фелікса:</p>
        <a class="github_accounts" href="https://github.com/FeliksNovoselskyi">Аккаунт<a>
    </div>

{% endblock %}