{% extends 'APP_Settings/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static  'APP_Settings/css/style.css' %}">
{% endblock %}

{% block content %}
    <div class="open_page">
        <p>Сторінка авторизації</p>
    </div>

    <form action="" class="auth_reg_form">
        <input type="text" class="auth_text" placeholder="Логін">
        <input type="password" class="auth_text" placeholder="Пароль">
        <input type="submit" id="auth_submit" value="Підтвердити">
    </form>
    
{% endblock %}