{% extends 'APP_Settings/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static  'APP_Settings/css/style.css' %}">
{% endblock %}

{% block content %}
    <div class="open_page">
        <p>Реєстраційна сторінка</p>
    </div>

    <form method="post" class="auth_reg_form">
        {% csrf_token %}
        <input type="text" 
                name="login"  
                class="reg_text" 
                placeholder="Логін">

        <input type="password" 
                name="password"  
                class="reg_text" 
                placeholder="Пароль">

        <input type="email" 
                name="email"  
                class="reg_text" 
                placeholder="Пошта">
                
        <input type="text" 
                name="phone"  
                class="reg_text" 
                placeholder="Телефон">

        <input type="submit" id="reg_submit" value="Підтвердити">
    </form>
    
{% endblock %}